pkgbase = remapper-dkms
	pkgdesc = A kernel module to remap keys at scan code level
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/jaoppb/remapper
	arch = x86_64
	license = MIT
	depends = dkms
	source = remapper-0.1.0.tar.gz::https://github.com/jaoppb/remapper/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 759c67817cc318ed372c55993566cf3b69302adc54e468636130056a870b7277

pkgname = remapper-dkms
